@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 285px;
    width: 1920px;
}
.logo{
    width: 1920px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 1920px;
    height: 101px;
    background-color: red;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.banner{
    height: 1125px;
    width: 1920px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-banner{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    text-align: center;
}