@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
}
header{
    background-color: black;
    height: 285px;
    width: 1920px;
}
.logo{
    width: 1920px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 1920px;
    height: 101px;
    background-color: red;
   /* display: flex;
    justify-content: center;
    align-items: center;*/
}
.menu-principal{
    width: 1600px;
    height: auto;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}
.lista-menu a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.lista-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    height: 1125px;
    width: 1920px;
    margin-top: 100px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.texto-banner{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    padding-top: 120px;
}
.e-mail{
    height: 111px;
    width: 1920px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
input{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}
button{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: red;
    border: none;
    padding: 2px;
}
footer{
    background-color: red;
    width: 1920px;
    height: 642px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.contato h2{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 81px;
    font-weight: bold;
    margin-bottom: 45px;
}
.contato p{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}
.redes-sociais h2{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 81px;
    font-weight: bold;
    margin-bottom: 80px;
}
.redes-sociais img{
    margin-right: 80px;
}
.contato img{
    margin-right: 20px;
}
.menu-ativo{
    display: flex;
}
.login{
    width: 1920px;
    height: 1000px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-principal{
    display: flex;
    flex-direction: column;
}
.login-principal h3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 100px;
}
.login-principal p{
    margin-top: 40px;
}
.botao-login{
    background-color: black;
    margin-top: 100px;
}